AIRFLOW_TRASH_CAN_KEY=
APRS_UN=
APRS_PW=
DAGS_PATH=
EMAIL=
GCP_CONN_ID=gs://pghpa_service_acct_creds/data_rivers_key.json
GCLOUD_PROJECT=data-rivers-testing
GCS_PREFIX=pghpa_test
GOOGLE_APPLICATION_CREDENTIALS=/your/path/to/data-rivers/data_rivers_key.json
CARTEGRAPH_AUTH=
ISAT_UN=
ISAT_PW=
COUNTY_UN=
COUNTY_PW=
COUNTY_ACCESS_TOKEN=
COUNTY_REFRESH_TOKEN=
COUNTY_BASE_URL=https://moveit.alleghenycounty.us/api/v1/swagger
QALERT_KEY=
OTRS_USER=
OTRS_PW=
OTRS_IP=
RECPRO_UN=
RECPRO_PW=
RECPRO_DB=
RSTUDIO_PW=
SETUP_PY_DATAFLOW=/your/path/to/data-rivers/airflow_scripts/dags/dependencies/dataflow_scripts/setup.py
TRAFFIC_VIEW_KEY=
TWILIO_EMAIL=
TWILIO_API_PW=