AIRFLOW_TRASH_CAN_KEY=somekey
APRS_UN=someuser
APRS_PW=somepw
EMAIL=email@example.com
GCP_CONN_ID=gs://some_bucket/data_rivers_key.json
GCP_PROJECT=data-rivers-testing
GCS_PREFIX=pghpa_test
GOOGLE_APPLICATION_CREDENTIALS=/your/system/path/data-rivers/data_rivers_key.json
CARTEGRAPH_AUTH=some_key
ISAT_UN=some_un
ISAT_PW=some_pw
COUNTY_UN=some_un
COUNTY_PW=some_pw
COUNTY_ACCESS_TOKEN=some_token
COUNTY_REFRESH_TOKEN=some_other_token
COUNTY_BASE_URL=example.com/api/v1/swagger
QALERT_KEY=some_key
OTRS_USER=some_un
OTRS_PW=some_pw
OTRS_IP=some_ip